header{
    background-color:#0a0a0a;
    color:white;

    text-align:center;

    padding:10px 0;
    position:relative;
    margin-bottom: 5px;
    overflow: hidden;
}

header::before{
    content: "♦";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 8em;   /* escala com o header */
    line-height: 1;

    color: rgba(255, 0, 0, 0.12); /* mais visível mas ainda sutil */

    pointer-events: none;
}
header h1,
header h2,
header h3{
    margin:2px 0;
}

body{
    margin: 0;
}
