header{
    background-color:#0a0a0a;
    color:white;

    text-align:center;

    padding:10px 0;
    position:relative;
    margin-bottom: 5px;
    overflow: hidden;
}

header::before,
header::after{

content:"♦";
position:absolute;

top:50%;
transform:translateY(-50%);

font-size:8em;

color:rgba(255,0,0,0.12);

pointer-events:none;


}

header::before{
left:40%;
}

header::after{
right:40%;
}

header h1,
header h2,
header h3{
    margin:2px 0;
}

body{
    margin: 0;
}
